@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

/*COLORS 
  Brown - #66361E
  Black - #010102
  Tan - #C6A99B
  Brown Orange - #A94319
  White - #D9DBD8
*/

html{
  scroll-behavior: smooth;
}

*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}




/*TEXT*/

a{
  font-family: 'Lato';
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
}

h1{
  font-weight: 400;
  font-size: 5.25rem;
  line-height: 5.25rem;
  text-align: center;
  font-family: 'Cannia';
  color: white;
  width: 700px;
  padding: 1rem;
  padding-bottom: 3rem;
}
h2{
  font-weight: 400;
  font-size: 2.75rem;
  font-family: 'Cannia';
  color: white;
}
p{
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 250;
  width: 500px;
  font-family: 'Lato';
}

/* Hero */

.background{
  background:  url('./assets/hero-bg.png'), linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
  background-size: cover;
  background-position: center;

  
}

.product{
z-index: 2;
}

.blur{
  z-index: 1;
  filter:blur(2rem);
  -webkit-filter:blur(2rem);
}

.line {
  border-bottom: 3px solid white;
  width: 10rem;
 
}

.barrel{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 34.38%, rgba(0, 0, 0, 0.075) 55.73%, rgba(0, 0, 0, 0.5) 100%), url('./assets/BarrelImage.png');
  background-size: cover;
  background-position: center;

}



.flavor1{
  z-index: 1;
}

.flavor2{
  z-index: 2;
}

.footer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(19, 12, 6, 0.2) 100%), linear-gradient(91.88deg, rgba(43, 27, 10, 0.2) 0%, rgba(95, 58, 26, 0.2) 35.94%, rgba(44, 28, 9, 0.2) 66.67%, rgba(12, 8, 7, 0.2) 100%), #27190E;
box-shadow: 0px 10px 25px #291B0E;
}

.about {
  background: url('./assets/unsplash_kyVGpLMn6Fk.png');
  background-size: cover;
  background-position: center; 
}

.history{
   background: url('./assets/Background.png'), linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  background-size: cover;
   background-position: center;   
   background-repeat: no-repeat;
  
   width: screen;
   height: 100vh;
}

.history-2{
  background: url('./assets/image\ 7.png'), linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
 background-size: cover;
  background-position: center;   
  background-repeat: no-repeat;
 
  width: screen;
  height: 100vh;
}
.history-3{
  background: url('./assets/bg.png'), linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
 background-size: cover;
  background-position: center;   
  background-repeat: no-repeat;
 
  width: screen;
  height: 100vh;
}
.history-4{
  background: url('./assets/back.png'), linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
 background-size: cover;
  background-position: center;   
  background-repeat: no-repeat;
 
  width: screen;
  height: 100vh;
}

.bottle{
  z-index: 1;
}
.bottle-text{
  z-index: 2;
 
}


.bg{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.21875) 51.04%, rgba(0, 0, 0, 0.5) 78.12%), url('./assets/unsplash_izcxOU1Cick.png');
  background-position: center;
}
.newsletter{
  box-shadow: 0px 4px 50px rgba(232, 238, 233, 0.25);
backdrop-filter: blur(7.5px);
}




.vertical-line{
  width: 2px;
  position: absolute;
  left: 23%;
  top: 250%;
  height: 400px;
  background: #fff;
  z-index: 10;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}

.vertical-line-2{
  width: 2px;
  position: absolute;
  left: 23%;
  top: 355%;
  height: 400px;
  background: #fff;
  z-index: 10;
  transform: translateY(50%);
}
.vertical-line-3{
  width: 2px;
  position: absolute;
  left: 23%;
  top: 450%;
  height: 400px;
  background: #fff;
  z-index: 10;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}

  .line{
    padding-left: 2rem;
    margin-top: 40px;
  }
  .black-line {
    border-bottom: 3px solid black;
    width: 160px;
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: 520px;
  }
  span{
    font-size:16px;
    font-family: "Lato";
    font-weight: 300;
    line-height: 28px;
  }
  li{
    font-size: 20px;
  }
  .vl{
    border-left: 3px solid white;
    height: 160px;
    left: 50%;
    top: 61%;
    position:absolute;}